.ReactModalPortal > div {
    opacity: 0;

}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: #333745;
    border-radius: 10px;
    color: white;
    max-width: 40rem;
    outline: none;
    padding: 3.2rem;
    text-align: left;
}
.modal__title {
    margin: 0 0 1.6rem 0;
}

.modal__body {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 3.2rem 0;
    word-break: break-all;
}
input {
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #aeaeae;
    padding: 6px 8px 5px;
    line-height: 16px;
}

.react-datepicker {
    font-size: 16px;
}