@import "./styles/header.css";
@import "./styles/container.css";
@import "./styles/widget.css";
@import "./styles/user.css";
@import "./styles/modal.css";
@import "./styles/button.css";
body {
  background: #333745;
  font-size: 1.6rem;
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,sans-serif, 'Courier New',
    monospace;
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
}


